<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script>
        window.onload = function() {
            //假设这里每个五分钟执行一次test函数
            publicBusi();
        }
        function publicBusi() {
            setTimeout("location=location; ", 5000); //这里的1000表示1秒有1000毫秒,1分钟有60秒,7表示总共7分钟
            $.post('dataSyn/querySchedules.do?rows=10&page=1', function(data) {
                if (data.result != 0) {
                }
            });
        }
    </script>
</head>
<body>
Hello World!
</body>
</html>